PRODUCT_NAME = OtohaChat
PRODUCT_BUNDLE_IDENTIFIER = co.otoha.OtohaChat
MACOSX_DEPLOYMENT_TARGET = 14.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 6.0
ENABLE_HARDENED_RUNTIME = YES
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = Z3N6SZF439
CURRENT_PROJECT_VERSION = 4
MARKETING_VERSION = 1.0
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
